*{  
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: darkred;
}
::-webkit-scrollbar{
    height: 0px;
    width: 0px;
}
img{
    width: 100vw;
    
}
a{
    color: white;
    padding: 20px;
    background: darkred;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    display: block;
}